@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  margin:0;
  min-height: 100vh;
  position: relative;
}

.active {
  background-color: #7a7fba;
  color: #000;
}

.topnav {
  overflow: hidden;
  background-color: #0e0f52;
  font-family: 'Nunito Sans', sans-serif;
  position: sticky;
  width: 100%;
  margin: 0px;
  font: 1em sans-serif;
  top: 0;
  z-index: 1;
}

.topnav img {
  height: 40px;
  float: left;
  padding-left: 15px;
  padding-top: 7px;
}

.topnav a {
  float: left;
  text-align: center;
  color: white;
  padding: 15px;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.8em;
  font-family: 'Nunito Sans', sans-serif;
}

.topnav-right {
  float: right;
}

.topnav a:hover {
  background-color: #7a7fba;
}

.black {
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header {
  max-width: 100%;
  height: 400px;
}

.header-img {
  width: 100%;
  height: auto;
}

.header-slide {
  display: none;
  width: 100%;
}

.header-text {
  font-size: 1.5em;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 1.5em;
  padding-top: 2.5em;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  border-width: 1px;
  border-style: double;
  color: #000;
  font-weight: 600;
  margin-bottom: 10px;
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: whitesmoke;
}

.judul {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 0px;
  line-height: 1.5;
  animation-name: example;
  animation-duration: 1s;
  position: relative;
  animation-fill-mode: forwards;
  text-align: center;
  width: 100%;
}

.sejarah-judul {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 0px;
  line-height: 1.5;
  animation-name: example;
  animation-duration: 1s;
  position: relative;
  animation-fill-mode: forwards;
}

.sejarah {
  display: inline-flex;
}

.sejarah-video {
  display: block;
  margin-left: 20px;
  margin-bottom: 40px;
  size: 100%;
  width: 700px;
  height: auto;
}
.sejarah-text {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  font: 1em sans-serif;
}

@keyframes example {
  from {
    top: 0px;
  }
  to {
    top: -20px;
  }
}

.keunggulan {
  margin-top: 30px;
  background-color: #c2e2ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.keunggulan-judul {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  line-height: 2.5;
  animation-name: example;
  animation-duration: 1s;
  position: relative;
  animation-fill-mode: forwards;
}

.unggul1 {
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  background-color: #c2e2ff;
  width: 30%;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 20px;
  background-color: #c2e2ff;
}

.unggul1:hover{
  transform: scale(1.1);
}

.unggul1-ikon {
  font-size: 50px;
  margin-bottom: 20px;
  color: #0e0f52;
}

.unggul1-judul {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
}

.unggul1-text {
  margin-right: 45px;
  margin-left: 45px;
  margin-bottom: 60px;
  font-size: 16px;
}

.hubungi {
  display: flex;
}

.hubungi-img {
  width: 550px;
}

.hubungi-form {
  width: 700px;
  height: 400px;
  margin-left: 20px;
}

.merah {
  color: red;
}

.hubungi-form label {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.hubungi-form input {
  width: 600px;
  height: 25px;
  margin-bottom: 15px;
}

.hubungi-form textarea {
  font-family: 'Nunito Sans', sans-serif;
  height: 100px;
  width: 600px;
  font-size: 14px;
}

.hubungi-form ::placeholder {
  font-family: 'Nunito Sans', sans-serif;
  color: #8f8f8f;
  display: initial;
  font-size: 14px;
}

.hubungi-form ::-ms-value {
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  font-size: 14px;
}

.hubungi-form textarea ::-ms-value{
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
  font-size: 14px;
}

.kirim {
  width: 600px;
  height: 60px;
  margin-top: 10px;
  color: white;
  background-color: #6478c3;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.review {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.review-slide {
  width: 100%;
  display: flex;
}

.review-img {
  width: 40%;
  height: 500px;
}

.review-text {
  font: 1em sans-serif;
  background-color: #c2e2ff;
  width: 60%;
  height: 500px;
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.review-judul {
  font-weight: 600;
  font: 3em sans-serif;
  padding-left: 20px;
  padding-top: 100px;
  margin-bottom: 20px;
}

.button-click{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.review-button {
  height: 50px;
  width: 50%;
  background-color: #e3e9fc;
  border-width: 0;
  color: black;
  font-weight: 600;
  font-size: 30px;
}

.review-button-right {
  height: 50px;
  width: 50%;
  background-color: #e3e9fc;
  border-width: 0;  
  color: black;
  font-weight: 600;
  font-size: 30px;
}

.footer {
  background-color: #0e0f52;
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin-bottom: 0;
  margin-top: 150px;
}

.footer-judul {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
  line-height: 2.5;
  animation-name: example;
  animation-duration: 1s;
  position: relative;
  animation-fill-mode: forwards;
  width: 100%;
}

.footer-img{
  width: 400px;
}

.footer-info {
  line-height: normal;
  line-height: 20px;
  width: 20%
}

.footer-judulinfo {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;

}

.footer-text li {
  list-style-type: none;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.footer-text i {
  font-size: 20px;
  align-items: center;
  margin: 3px;
}

hr {
  color: #c2c9ff;
  margin-top: 3em;
  width: 100%;
}

.block {
  color: #c2c9ff;
  margin-left: 10em;
}

.pilihdp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.pilihdp label{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
  line-height: 1.5;
  animation-name: example;
  animation-duration: 1s;
  position: relative;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pilihdp select{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  position: relative;
  width: 80%;
}

.pilihdp input{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  line-height: 1.5;
  position: relative;
  width: 15%;
}

.blokdp{
  background-color: #c2e2ff;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
  text-align: center;
}

.kategori{
  background-color: #3f64df;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  text-align: center;
}

.kota{
  font-weight: 600;
  width: 20%;
}

.kosong{
  padding: 30px;
}

.alamat {
  font-weight: 400;
  padding-right: 40px;
  width: 60%;
}

.header-dp{
  display: block;
  width: 100%;
}

.Word {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.kolom {
  text-align: center;
  float: left;
  width: 30%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #405DB8;
  color: #f2f2f2;
  transition: background-color 0.3s, transform 0.3s;
}

.kolom:hover {
  background-color: #00039e;
  transform: scale(1.1);
}

.kolom-ikon{
  color: #fff;
  font-size: 50px;
  margin-bottom: 20px;
}

.block-bawah {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   color: #ffffff;
   background-color: #0E0F52;
   font-size: 14px;
   font-family: 'Nunito Sans', sans-serif;
   text-align: left;
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 10px;   
}

.gambar {
  width: 15%;
  height: 15%;
}

@media only screen and (max-width: 820px) {
  .header {
    height: 200px;
    margin-bottom: 10px;
  }

  .sejarah-judul {
    margin-top: 0px;
  }

  .sejarah {
    width: 100%;
    display: inline;
  }

  .sejarah-video {
    display: inline;
    margin: 5px;
    width: 80%;
    height: auto;
    vertical-align: middle;
    margin-left: 30px;
  }

  .sejarah-text {
    display: block;
    margin-right: 50px;
    font: 1em sans-serif;
    margin-left: 50px;
  }

  .black {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .unggul1-ikon {
    font-size: 30px;
  }

  .unggul1-judul {
    font-size: 15px;
  }

  .unggul1-text {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .hubungi {
    display: inline;
  }

  .hubungi-img {
    width: 641px;
    height: auto;
  }

  .hubungi-form input {
    width: 700px;
  }

  .hubungi-form textarea {
    width: 700px;
  }

  .review {
    height: 500px;
  }

  .review-img {
    width: 100%;
  }

  .review-slide {
    width: 100%;
    height: 500px;
  }

  .review-judul {
    padding-top: 10px;
    font-size: 2em;
  }

  .review-text {
    height: 100%;
    padding-right: 20px;
  }

  .kirim {
    width: 384px;
    height: 60px;
  }

  .kolom{
    height: auto;
    font-size: 10px;
  }

  .kolom h2{
    font-size: 25px;
  }

  .kolom-ikon {
    font-size: 30px;
  }
}

@media only screen and (max-width: 414px) {
  .header {
    height: 100px;
    margin-bottom: 10px;
  }
  .header-text {
    font-size: 0.5em;
    margin-left: 0.5em;
    margin-top: 110px;
  }

  .judul {
    font-size: 20px;
  }

  .sejarah {
    width: 100%;
    display: inline;
  }

  .sejarah-judul {
    font-size: 20px;
  }

  .sejarah-video {
    display: inline;
    margin-left: 15px;
    width: 80%;
    height: auto;
    vertical-align: middle;
  }

  .sejarah-text {
    display: block;
    margin-right: 50px;
    font: 0.7em sans-serif;
    margin-left: 50px;
  }

  .black {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .unggul1 {
    line-height: 10px;
  }

  .keunggulan-judul {
    font-size: 20px;
    padding-top: 20px;
  }

  .unggul1-ikon {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .unggul1-judul {
    font-size: 10px;
    margin: 5px;
  }

  .unggul1-text {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 10px;
  }

  .hubungi {
    display: inline;
    height: auto;
  }

  .hubungi-img {
    width: 100%;
    height: auto;
  }

  .hubungi-form{
    height: 350px;
  }

  .hubungi-form label {
    font-size: 15px;
  }

  .hubungi-form input {
    width: 340px;
  }

  .hubungi-form textarea {
    width: 340px;
  }

  .kirim {
    width: 50%;
    height: 60px;
    display: block;
    margin-left: 0px;
  }

  .review {
    width: 100%;
    height: 150px;
  }

  .review-img {
    height: 150px;
    width: 40%;
  }

  .review-slide {
    width: 100%;
    height: 150px;
  }

  .review-text {
    height: 150px;
    padding-right: 20px;
    font-size: 0.7em;
    padding-top: 5px;
    width: 60%;
  }

  .review-judul {
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .review-button-right {
    height: 20px;
    font-size: 10px;
    font-weight: 100;
  }

  .review-button {
    height: 20px;
    font-size: 10px;
    font-weight: 100;
  }

  .footer {
    margin-top: 50px;
  }

  .footer-judul {
    font-size: 20px;
    line-height: 1;
  }

  .footer-img{
    width: 100px;
  }

  .footer-info{
    width: 30%;
  }

  .footer-judulinfo {
    font-size: 12px;
    padding: 6px;
  }

  .footer-text li {
    font-size: 10px;
    padding-left: 5px;
    text-decoration: none;
  }

  .footer-text ul {
    margin-top: 0px;
    padding-left: 15px;
  }

  .footer-text i {
    font-size: 10px;
  }

  hr {
    margin-top: 10px;
  }

  .kolom{
    width: 100%;
  }
}
